body{

    background-color: rgb(94, 94, 94);

}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(98, 0, 255);
    padding: 20px;
}

.cabecalho_imagem{

    width: 200px;
    height: 200px;
    border-radius: 50%;

}


.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
}