body{

background-color: rgba(129, 129, 129, 0.253);

}

header{
    background-color: rgb(77, 2, 148);
}

.cabecalho_imagem{

    width: 200px;
    height: 200px;
    border-radius: 50%;

}